body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: rgb(235, 211, 161);
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 100px;
  padding: 100px;
  box-sizing: border-box;
}

.header {
  grid-column-start: 1;
  grid-column-end: 2;
}

.header a {
  text-decoration: none;
  color: rgb(235, 211, 161);
}
.header a:hover {
  color: rgb(192, 164, 105);
}
.main {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 50px;
}
.main h3 {
  font-size: 40pt;
}
.main p {
  font-size: 15pt;
}

.navbar {
  grid-column-start: 2;
  grid-column-end: 4;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style: none;
  align-items: center;
  float: right;
}
.navbar li {
  position: relative;
  float: left;
}
.navbar li a {
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: rgb(235, 211, 161);
  font-size: 15pt;
}
.navbar li a:hover {
  font-size: larger;
  color: rgb(192, 164, 105);
}

.about-image {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-column-end: 3;
  float: center;
}
.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 1000px;
  float: center;
  padding: 30px;
  padding-top: 100px;
}

.collapsible {
  background-color: rgb(0, 0, 0);
  color: rgb(235, 211, 161);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 2px solid rgb(235, 211, 161);
  border-radius: 5px;
  font-size: 13pt;
}

.active,
.collapsible:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.collapsible:after {
  content: "\002B";
  color: rgb(235, 211, 161);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(0, 0, 0);
  padding-top: 10px;
  font-size: 13pt;
}
.content li {
  padding-top: 5px;
  padding-bottom: 5px;
}
