body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 100px;
  padding: 10px;
  box-sizing: border-box;
}

.header {
  grid-column-start: 1;
  grid-column-end: 2;
}

.main {
  grid-row-start: 2;
  grid-row-end: 4;
}
.main h3 {
  font-size: xx-large;
}

.navbar {
  grid-column-start: 2;
  grid-column-end: 4;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style: none;
  align-items: center;
  float: right;
}
.navbar li {
  position: relative;
  float: left;
}
.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.navbar li a:hover {
  font-size: larger;
}

.home-image {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-column-end: 4;
}
.home-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
